@charset "UTF-8";
*{
	margin:0;
	padding:0;
}

#wrap {
	width: 1000px;
	height: 800px;
	margin: 0 auto;
	border : 1px solid black;
}

#sub_title {
    font-size: 13px;
    -webkit-text-size-adjust: none;
    font-weight: 400;
    font-family: "Apple SD Gothic Neo", "맑은 고딕", "Malgun Gothic", 돋움, dotum, sans-serif;
    color: #333;
    display: table;
    width: 100%;
    table-layout: fixed;
    /* border : 1px solid black; */
}
.title_area{
	font-size: 13px;
    -webkit-text-size-adjust: none;
    font-weight: 400;
    font-family: "Apple SD Gothic Neo", "맑은 고딕", "Malgun Gothic", 돋움, dotum, sans-serif;
    color: #333;
    display: table-cell;
    width: 550px;
    word-wrap: break-word;
    word-break: break-word;
}
.info_title{
	
	font-size: 13px;
    -webkit-text-size-adjust: none;
    font-weight: 400;
    font-family: "Apple SD Gothic Neo", "맑은 고딕", "Malgun Gothic", 돋움, dotum, sans-serif;
    color: #333;
    word-wrap: break-word;
    word-break: break-word;
    margin-top: -1px;
    line-height: 25px;
}
.tit{
	-webkit-text-size-adjust: none;
    font-family: "Apple SD Gothic Neo", "맑은 고딕", "Malgun Gothic", 돋움, dotum, sans-serif;
    word-wrap: break-word;
    word-break: break-word;
    margin: 0;
    padding: 0;
    color: #333;
    display: inline;
    font-weight: 600;
    font-size: 22px;
    line-height: 24px;
    vertical-align: sub;
}
.tcol{
	    -webkit-text-size-adjust: none;
    font-weight: 400;
    font-family: "Apple SD Gothic Neo", "맑은 고딕", "Malgun Gothic", 돋움, dotum, sans-serif;
    word-wrap: break-word;
    word-break: break-word;
    margin: 0;
    padding: 0;
    margin-top: 8px;
    font-size: 13px;
    line-height: 15px;
    color: #999;
}
.rspace{
	
	    font-size: 13px;
    -webkit-text-size-adjust: none;
    font-weight: 400;
    font-family: "Apple SD Gothic Neo", "맑은 고딕", "Malgun Gothic", 돋움, dotum, sans-serif;
    color: #333;
    display: table-cell;
    text-align: right;
    vertical-align: top;
    white-space: nowrap;
}
.article-board{
	 font-size: 13px;
    -webkit-text-size-adjust: none;
    font-weight: 400;
    font-family: "Apple SD Gothic Neo", "맑은 고딕", "Malgun Gothic", 돋움, dotum, sans-serif;
    color: #333;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
/*
.skin-1080 .article-board tbody td {
	height: 28px;
	padding: 4px 7px;
	border-bottom: 1px solid #f2f2f2;
}

.skin-1080 .article-board .td_article {
	padding-left: 12px;
	padding-right: 18px;
}

.skin-1080 .article-board .td_date {
	color: #666;
	text-align: center;
	white-space: nowrap;
}

.skin-1080 .article-board .td_view {
	color: #666;
	text-align: center;
}*/
.sub_text{
	margin-top : 20px;
	margin-left : 10px;	
	border-top : 1px solid gray;
	border-bottom : 1px solid gray;
	padding: 20px;
}
