@charset "UTF-8";

@import
	url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

* {
	padding: 0;
	margin: 0;
	font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui,
		Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo',
		'Noto Sans KR', 'Malgun Gothic', sans-serif;
}

#wrap {
	width: 100%;
	height: 1100px;
}
/* #background {
	height:131px;
	width:100%;
	background-color:#e2ddeb;
	z-index: -1;
	position: absolute;
} */


#wrap .info p {
	/* font-family: 'NanumSquareRoundExtraBold'; */
	font-family: Pretendard;
	font-size: 2.6em;
	margin: 40px auto;
	width: 50%;
	text-align: center;
	font-weight: bold;
}

#wrap .content {
	margin-top: 50px;
}

#wrap .content .content_box {
	padding: 0 10%;
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	text-decoration: none;
	height: 800px;
	position: relative;
	width: 80%; /*너비를 px로 주면 사라짐*/
	padding-bottom: 10px;

}

#wrap .content .content_box dt {
	position:relative;
	left:100px;
	padding: 0 0 10px 0;
	margin:0 5px;
	font-size: 1.8em;
	color:#00A19D;
	font-weight: bold;
	
}

#wrap .content .content_box hr{
	border: solid 1px #00A19D; 
	width: 70%;
	position: relative;
	left:100px;
}

#wrap .content .content_box dd {
	padding: 15px 0 0 200px;
}

#wrap .content .content_box dd a {
	text-decoration: none;
	color: black;
}

.box_3 {
	width: 33.33333%;
}