@charset "UTF-8";

@font-face {
	font-family: 'GmarketSansMedium';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
  	width:150px;
	height:25px;
	position: relative;
	left:125px;
}

* {
	padding: 0;
	margin: 0;
}

#wrap {
	margin: 30px 0;
	width: 100%;
	height: 100%;
}

#wrap #content {
	width: 70%;
	margin: 0 auto;
	height: 900px;
	display: block;
	position: relative;
	left: 180px;
}

#wrap #content #boardcontent {
	width: 70%;
	margin: 20px auto;
	
}


.scategoryid{
	width:150px;
	height:25px;
	position: relative;
	left:125px;
	
}


#wrap #content .formtitle {
	font-size: 1.2em;
	padding-top: 20px;
	padding-bottom: 20px;
	display: block;
	position: relative;
	left: 125px;
}

#wrap #content .inp {
	margin: 0 auto;
}

#wrap #content .ipt_title {
	width: 59.5%;
	height: 20px;
	line-height: 20px;
	font-size: 20px;
	display: block;
	position: relative;
	left: 125px;
	outline: none;
	border:0;
	border-bottom:3px solid #00A19D;
}

#wrap #content .ipt_file {
	padding-bottom: 7px;
	display: block;
	position: relative;
	left: 125px;
}
/* .ipt_text {
	width: 80%;
	height:300px;
	padding-bottom: 7px;
	display: block;
	position: relative;
	left: 100px;
}  */
.editor {
	width: 60%;
	position: relative;
	left: 125px;
}

#wrap #content .btn_s {
	display: block;
	position: relative;
	left: 400px;
	margin:0 auto;
}

.btn_s .btn_style {
	margin: 30px 0;
	font-family: 'GmarketSansMedium' ;
	width : 130px;
	text-align: center;
	height: 30px;
	background-color: #00A19D;
	color: #ffffff;
	border: none;
}